.navbar{
    width: 100%;
    top: 0px;
    position: fixed;
}

p{
    animation-name: desaparecer;                
    animation-duration: 5s;                
    animation-fill-mode: forwards;      
  }
  
  @keyframes desaparecer{                       
    from{                                   
        width: 8.8%;
    }
    to{                                     
        visibility: hidden;   /*Para que desaparezca en un tiempo marcado arriba (5seg)*/
    }
  }