<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="nav-link active" href="#"><img src="../../../assets/image/bola.jpg" width="50px"></a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Pokédex
            </a>
          </li>
        </ul>
                
      <p *ngIf="error2" class="m-2">Error: {{error2}}</p>

      <img src="{{urlImage}}"> 

      <input type="text" [(ngModel)]="nombreDelPokemon" placeholder="Busca el pokemon">   
      <button (click)="search(local.value)" class="btn btn-dark" #local>Buscar</button>   

      </div>

  </nav>