<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <img src="../../../assets/image/bola.jpg" width="50px">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Pokédex
            </a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Busca el pokémon" [(ngModel)]="nombreDelPokemon" name="buscador">
          <button class="btn btn-secondary m-2 my-sm-0 text-dark" type="submit" (click)="search(local.value)" #local>Buscar</button>
        </form> -->

        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Busca el pokémon" name="buscador">
          <button class="btn btn-secondary m-2 my-sm-0 text-dark" type="submit">Buscar</button>
        </form>

      </div>

  </nav>